In [ ]:
%pip uninstall -y SQLAlchemy
%pip install "SQLAlchemy>=2.0,<2.1" ipython-sql pyodbc
import sqlalchemy, sys
print("SQLAlchemy:", sqlalchemy.__version__, "| Python:", sys.version)

In [2]:
%pip install "prettytable<3.10"

Requirement already satisfied: prettytable<3.10 in /usr/local/lib/python3.11/site-packages (3.9.0)
Requirement already satisfied: wcwidth in ./Library/Python/3.11/lib/python/site-packages (from prettytable<3.10) (0.2.13)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: /usr/local/opt/python@3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql

In [4]:
%sql mssql+pyodbc://sa:YourStrong!Passw0rd@localhost:1433/WideWorldImporters?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes

In [4]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %code_wrap  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %mamba  %man  %matplotlib  %micromamba  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %sql  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %uv  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%code_wrap  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%sql  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

-- Proposition 1: List the full and preferred names of all employees in the company.

In [5]:
%%sql
SELECT FullName, PreferredName 
FROM Application.People
WHERE IsEmployee=1;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Kayla Woodcock', 'Kayla'),
 ('Hudson Onslow', 'Hudson'),
 ('Isabella Rupp', 'Isabella'),
 ('Eva Muirden', 'Eva'),
 ('Sophia Hinton', 'Sophia'),
 ('Amy Trefl', 'Amy'),
 ('Anthony Grosse', 'Anthony'),
 ('Alica Fatnowna', 'Alica'),
 ('Stella Rosenhain', 'Stella'),
 ('Ethan Onslow', 'Ethan'),
 ('Henry Forlonge', 'Henry'),
 ('Hudson Hollinworth', 'Hudson'),
 ('Lily Code', 'Lily'),
 ('Taj Shand', 'Taj'),
 ('Archer Lamble', 'Archer'),
 ('Piper Koch', 'Piper'),
 ('Katie Darwin', 'Katie'),
 ('Jai Shand', 'Jai'),
 ('Jack Potter', 'Jack')]

-- Proposition 2: Find all people who have an email address that does not end with .com.

In [ ]:

%%sql
SELECT PersonID, FullName, EmailAddress 
FROM Application.People
WHERE EmailAddress IS NOT NULL
AND EmailAddress NOT LIKE '%.com';

-- Proposition 3: Show the names of all countries located in Asia.

In [ ]:
%%sql
SELECT CountryName
FROM Application.Countries 
WHERE Region='Asia';

-- Proposition 4: Retrieve the next 10 cities (after skipping the first 20) from a specific state/province.

In [ ]:
SELECT CityID, CityName
From Application.Cities 
WHERE StateProvinceID =33
ORDER BY CityID 
OFFSET 20 ROWS FETCH NEXT 10 ROWS ONLY;

-- Proposition 5: Get the details of the purchase order with ID 100.

In [ ]:
%%sql
SELECT 
	PurchaseOrderID,
	SupplierID,OrderDate,
	ExpectedDeliveryDate
FROM Purchasing.PurchaseOrders
WHERE PurchaseOrderID=100;

-- Proposition 6: Find all sales orders that have already been picked by someone.

In [ ]:
%%sql
SELECT OrderID, CustomerID, OrderDate, DeliveryInstructions, ExpectedDeliveryDate
FROM Sales.Orders
WHERE PickedByPersonID is NOT NULL;

-- Proposition 7: Show the top 10 invoices packed by person with ID 14.

In [ ]:
%%sql
SELECT Top(10) InvoiceID, CustomerID, CustomerPurchaseOrderNumber
FROM Sales.Invoices
WHERE PackedByPersonID =14;

-- Proposition 8: List all orders handled by salesperson 15, ordered from newest to oldest.

In [ ]:
%%sql
SELECT OrderID, CustomerID
FROM Sales.Orders
WHERE SalespersonPersonID=15
ORDER BY OrderID DESC;

-- Proposition 9: Retrieve stock item transactions linked to invoice 1336.

In [ ]:
%%sql
SELECT StockItemTransactionID, StockItemID, CustomerID
FROM Warehouse.StockItemTransactions
WHERE InvoiceID=1336
ORDER BY InvoiceID ASC;

-- Proposition 10: List distinct customers whose delivery city is either 2111 or 8987.

In [ ]:
%%sql
SELECT DISTINCT CustomerID, CustomerName
FROM Sales.Customers 
WHERE DeliveryCityID=2111 OR DeliveryCityID=8987;

-- Proposition 11: Display stock items with their unit price and calculate price including 8% tax.

In [ ]:
%%sql
SELECT 
    StockItemID,
    StockItemName,
    UnitPrice,
    CAST(UnitPrice * 1.08 AS DECIMAL(10,2)) AS PriceWithTax_8pct
FROM Warehouse.StockItems
ORDER BY UnitPrice DESC;

-- Proposition 12: Find suppliers who require payment in less than 8 days.

In [ ]:
%%sql
SELECT 
	SupplierID, 
	SupplierName,
	PhoneNumber
FROM Purchasing.Suppliers 
WHERE PaymentDays <8;

-- Proposition 13: Search for stock items that contain the phrase “Furry animal socks.”

In [ ]:
%%sql
SELECT StockItemID, StockItemName
FROM Warehouse.StockItems
WHERE StockItemName LIKE '%Furry animal socks%';

-- Proposition 14: Categorize customers into high, medium, or low credit limit groups.

In [ ]:
%%sql
SELECT CustomerID, CustomerName, CreditLimit,
       CASE 
           WHEN CreditLimit >= 50000 THEN 'High Credit'
           WHEN CreditLimit >= 10000 THEN 'Medium Credit'
           ELSE 'Low Credit'
       END AS CreditCategory
FROM Sales.Customers;

-- Proposition 15: Show stock items and their suppliers where the size includes grams (g).

In [ ]:
%%sql
SELECT StockItemID, SupplierID
FROM Warehouse.StockItems 
WHERE [Size] LIKE '%g';

-- Proposition 16: Check if retail prices are lower than unit prices and flag them as “RECHECK.”

In [ ]:
%%sql
SELECT 
    StockItemID, 
    SupplierID,
    CASE 
        WHEN RecommendedRetailPrice < UnitPrice THEN 'RECHECK'
        ELSE 'OK'
    END AS PriceCheck
FROM Warehouse.StockItems;

-- Proposition 17: Identify customers as “NEW” or “TRUSTED” based on their purchase order number.

In [ ]:
%%sql
SELECT CustomerID, CustomerPurchaseOrderNumber,
	CASE
		WHEN CustomerPurchaseOrderNumber<5 THEN 'NEW CUSTOMER'
		WHEN CustomerPurchaseOrderNumber>18000 THEN 'TRUSTED CUSTOMER'
	END AS CustomerType
FROM Sales.Orders
WHERE CustomerPurchaseOrderNumber<5
OR CustomerPurchaseOrderNumber>18000
ORDER BY CustomerPurchaseOrderNumber DESC;

-- Proposition 18: Detect people who are missing a valid logon name.

In [ ]:
%%sql
SELECT PersonID, FullName,
	CASE
		WHEN LogonName='NO LOGON' THEN 'LOGON NAME REQUIRED'
	END AS [MISSING LOGON]
FROM Application.People


-- Proposition 19: Find the single invoice line with the highest profit greater than 1.

In [6]:
%%sql
SELECT TOP(1)
	InvoiceLineID,
	StockItemID,
	UnitPrice,
	ExtendedPrice,
	LineProfit
FROM Sales.InvoiceLines 
WHERE LineProfit>1
ORDER BY LineProfit DESC;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(20600, 161, Decimal('108.00'), Decimal('12420.00'), Decimal('9200.00'))]

-- Proposition 20: List customer transactions that are type 3 (payments) AND have a payment method (non-NULL).

In [ ]:
%%sql
SELECT CustomerTransactionID, CustomerID, TransactionTypeID, PaymentMethodID
FROM Sales.CustomerTransactions 
WHERE PaymentMethodID IS NOT NULL AND TransactionTypeID=3;

-- Proposition 21: List all customer transactions with negative amounts.

In [8]:
%%sql
SELECT TOP(20) CustomerTransactionID, CustomerID, TransactionTypeID, PaymentMethodID,TransactionAmount
FROM Sales.CustomerTransactions 
WHERE TransactionAmount<0;

 * mssql+pyodbc://sa:***@localhost:1433/WideWorldImporters?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(231, 1, 3, 4, Decimal('-9513.49')),
 (232, 401, 3, 4, Decimal('-5089.33')),
 (233, 803, 3, 4, Decimal('-465.75')),
 (234, 811, 3, 4, Decimal('-897.00')),
 (235, 832, 3, 4, Decimal('-2645.00')),
 (236, 862, 3, 4, Decimal('-946.45')),
 (237, 870, 3, 4, Decimal('-747.50')),
 (238, 873, 3, 4, Decimal('-542.80')),
 (239, 884, 3, 4, Decimal('-276.00')),
 (240, 890, 3, 4, Decimal('-3659.30')),
 (241, 905, 3, 4, Decimal('-809.60')),
 (242, 908, 3, 4, Decimal('-554.30')),
 (243, 910, 3, 4, Decimal('-517.50')),
 (244, 949, 3, 4, Decimal('-104.65')),
 (245, 964, 3, 4, Decimal('-296.70')),
 (246, 972, 3, 4, Decimal('-428.95')),
 (247, 973, 3, 4, Decimal('-3662.75')),
 (248, 976, 3, 4, Decimal('-494.50')),
 (249, 991, 3, 4, Decimal('-200.10')),
 (250, 995, 3, 4, Decimal('-149.50'))]